VITE_MAPBOX_TOKEN=pk....
VITE_GOOGLE_CLIENT_ID=....apps.googleusercontent.com
VITE_TELEGRAM_BOT_USERNAME=no_lights_bot
SEARCH_RADIUS_KM=0.5
TELEGRAM_TOKEN=...
POSTGRES_USER=nolights
POSTGRES_PASSWORD=CAMBIA_ESTO_POR_UNA_CLAVE_SEGURA
